[Unit]
Description=matmon-eod-squareoff schedule
[Timer]
OnCalendar=Mon..Fri *-*-* 15:05:00 Asia/Kolkata
Persistent=false
Unit=matmon-eod-squareoff.service
[Install]
WantedBy=timers.target
